<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<h2 mat-dialog-title>{{ "EDIT_ADDRESS.TITLE" | translate }}</h2>
<mat-dialog-content>
  <div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>{{ "EDIT_ADDRESS.STREET" | translate }}</mat-label>
      <input
        [disabled]="loading"
        [(ngModel)]="user.street"
        matInput
        placeholder=""
      />
      <!-- <mat-hint>Please enter a name</mat-hint> -->
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="mr-16" appearance="outline">
      <mat-label>{{ "EDIT_ADDRESS.ZIP" | translate }}</mat-label>
      <input
        [disabled]="loading"
        [(ngModel)]="user.zipCode"
        matInput
        placeholder=""
      />
      <!-- <mat-hint>Please enter a name</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ "EDIT_ADDRESS.CITY" | translate }}</mat-label>
      <input
        [disabled]="loading"
        [(ngModel)]="user.city"
        matInput
        placeholder=""
      />
      <!-- <mat-hint>Please enter a name</mat-hint> -->
    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <button
      [disabled]="loading"
      mat-button
      mat-dialog-close
      (click)="dialogRef.close()"
    >
    {{ "EDIT_ADDRESS.CANCEL" | translate }}
    </button>
    <button
      [disabled]="loading"
      mat-button
      mat-dialog-close
      cdkFocusInitial
      (click)="saveUser()"
    >
    {{ "EDIT_ADDRESS.SAVE" | translate }}
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
