@use "../variables.scss" as v;
@use "../mixins.scss" as m;

.mat-drawer-container {
  height: 100vh;

  .sidenav {
    width: 200px;

    .logo-container {
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      min-height: 56px;
      @include m.flexBox();

      img {
        width: 250px;
        height: 56px;
        object-fit:contain ;
      }
    }

    .menu-items {
      list-style-type: none;
      padding: 0px;
      margin: 0;

      li {
        padding: 0px 16px;
        height: 48px;
        @include m.flexBox(row, flex-start, center);
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.075);
        }

        mat-icon {
          margin-right: 16px;
        }
      }
    }
  }
}

.menu-icon {
  cursor: pointer;
  margin-right: 20px;
}

.mat-toolbar {
  height: 56px;
  min-height: 56px;
}

.router-container {
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 16px;
}

.sidenav-content {
  .mat-toolbar {
    @include m.flexBox(row, space-between, center);

    .mat-toolbar-left {
      @include m.flexBox();
    }

    .lang-change {
      @include m.flexBox(row, center, center);
      cursor: pointer;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
