@use "../../variables.scss" as v;
@use "../../mixins.scss" as m;

.user-detail-header {
  height: 250px;
  padding: 16px;
  @include m.flexBox(row, flex-start, flex-end);

  @media (max-width: 630px) {
    @include m.flexBox(column, center, center);
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
  }

  img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
  }

  .user-details {
    height: 100px;
    margin-left: 32px;
    @include m.flexBox(column, center, flex-start);

   @media (max-width: 630px) {
   @include m.flexBox(column, center, center); 
    margin-left: unset;
   } 

    h2 {
      margin-bottom: 0;
    }
  }
}

.mt-32 {
  button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.delete-user {
  cursor: pointer;
  text-align: center;
  padding: 16px;

  &:hover {
    color: red;
    background-color: rgb(56, 56, 56) !important;
  }
}