.grid {
  padding: 16px;

  .dashboard-tile {
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    margin: 16px;
    box-sizing: border-box;

    .statistics, .reports {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
