<mat-grid-list cols="1" rowHeight="200px" class="grid">
  <mat-grid-tile
    class="dashboard-tile"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color"
    *ngFor="let tile of tiles; trackBy: trackTile"
  >

  <ng-container *ngIf="tile.text === 'Priorities'">
    <h2>{{ "REPORTS.HEADLINE" | translate }}</h2>
    <div class="reports">
      <canvas
        baseChart
        [type]="'pie'"
        [data]="pieChartData"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend"
      >
      </canvas>
    </div>
  </ng-container>  

  <ng-container *ngIf="tile.text === 'Requests'">
    <div class="requests">
      <h2>{{ "PATIENT_STATUS.HEADLINE" | translate }}</h2>
      <ul *ngIf="patientStatusCounts">
        <li>{{ "PATIENT_STATUS.REGISTERED" | translate }} : {{ patientStatusCounts["registered"] }}</li>
        <li>{{ "PATIENT_STATUS.PREPPED" | translate }} : {{ patientStatusCounts["prepped"] }}</li>
        <li>{{ "PATIENT_STATUS.IN_OP" | translate }} : {{ patientStatusCounts["in_op"] }}</li>
        <li>{{ "PATIENT_STATUS.POST_OP" | translate }} : {{ patientStatusCounts["post_op"] }}</li>
        <li>{{ "PATIENT_STATUS.RECOVERY" | translate }} : {{ patientStatusCounts["recovery"] }}</li>
        <li>{{ "PATIENT_STATUS.STATION" | translate }} : {{ patientStatusCounts["station"] }}</li>
        <li>{{ "PATIENT_STATUS.DISCHARGED" | translate }} : {{ patientStatusCounts["discharged"] }}</li>
      </ul>
      <p *ngIf="!patientStatusCounts">Loading...</p>
    </div>
  </ng-container>

    <ng-container *ngIf="tile.text === 'Statistics'">
      <h2>{{ "STATISTICS.HEADLINE" | translate}}</h2>
      <div class="statistics">
        <canvas
          baseChart
          [type]="'line'"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
        >
        </canvas>
      </div>
    </ng-container>
  </mat-grid-tile>
</mat-grid-list>
